/* Created by: Titus diceman
 * Created on: March 23
 * This CSS file defines the style for index.html ICS2O-Assignment-2-JS
*/

body {
  background-color: rgb(90 40 111);
}

h1 {
  background-color: rgb(70 15 140);
  color: rgb(107 51 135);
  padding: 40px;
  text-align: center;
}

p {
  background-color: rgb(87 32 168);
}
